{% extends '_base.html' %}
{% block page_title %}
    لیست کتابها
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row flex-row-reverse ">
            {% for book in books %}
                <div class="card m-2" style="max-width: 45%">
                    <div class="row g-0 h-100" dir="rtl">
                        <div class="col-md-4">
                            {% if book.cover %}
                                <img src="{{ book.cover.url }}" class="img-fluid rounded-start" alt="...">
                            {% else %}
                                <img src="/media/covers/no_cover.jpeg" class="img-fluid rounded-start" alt="...">
                            {% endif %}
                        </div>
                        <div class="col-md-8 h-100">
                            <div class="d-flex flex-column justify-content-between h-100">
                                <div class="card-body">
                                    <a class="text-decoration-none" href="{{ book.get_absolute_url }}"><h4
                                            class="card-title "><strong>{{ book.title }}</strong></h4></a>
                                    <p class="card-text pt-3">{{ book.content|truncatewords:30 }}</p>

                                    <p class="text-muted">{{ book.author }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <nav aria-label="Page navigation example " class="justify-content-center">
        <ul class="pagination justify-content-center mt-4">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        {#                    <span class="sr-only">Previous</span>#}
                    </a>
                </li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
        {% if page_obj.number == 3 %}
            <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
        {% endif %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
{#                        <span class="sr-only">Next</span>#}
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="text-center bg-grey">
            <p>دوره آموزشی جنگو <a class="text-dark" href="https://codingyar.com/" target="_blank">کدینگ یار</a></p>
        </div>
    </footer>

{% endblock %}

